[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
psycopg2-binary = "*"
click = "*"
flask-wtf = "*"
flask-bootstrap = "*"
email-validator = "*"

[requires]
python_version = "3.8"
