.underlined {
    text-decoration: underline;
}

.black {
    color: rgb(39, 36, 36) !important;
}

.model-table caption {
    padding: 10px 15px;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #e7e7e7;
}

.model-table {
    border: 1px solid #eeeaea;
}

.model-table a {
    color: #000;
}

.model-row th {
    width: 100%;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.actions {
    padding-left: 50px;
}

.table-wrapper {
    padding: 0px 30px;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.module h2{
    margin: 0;
    padding: 8px;
    font-size: 13px;
    text-align: left;
    background: #e7e7e7;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

div.product-add {
    padding: 10px 50px 0 50px;
}

.product-add h1 {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding-bottom: 15px;
}

.buttons {
    text-align: right;
}

.buttons input {
    margin: 0 15px;
}

#img-slider {
    margin-bottom: 15px;
    overflow: hidden;
}


.carousel-inner {
    height: 435px;
    display: inline-block;
}

#upload-img {
    cursor: pointer;
}

.item {
   position: relative;
   height: inherit;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;  
    bottom: 0;
    left: 0;  
    right: 0;
    margin: auto;
}

.filter-form-wrapper {
    margin: 0 45px 20px 45px;
}

#range-div {
    display: none;
}

.reset {
    text-align: right;
}

form .row {
    border: 1px solid  #d3cdcd;
    background-color: #fdfdfd;;
    padding-top: 10px;
}