{% extends 'admin/_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="filter-form-wrapper">
    <form action="" method="post">
        <div class="row d-flex align-items-center">
            {{ form.hidden_tag() }}
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.filter_mode) }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.query) }}  
            </div>
            <div class="button-group col-md-2">
                {{ wtf.form_field(form.search) }}
            </div>
            <div class="button-group col-md-4">
                {{ wtf.form_field(form.reset) }}
               <a href="{{ url_for('admin.product_add') }}" class="btn btn-default">
                   Add product
               </a>
            </div>
        </div>
    </form>
</div>
<div class="table-wrapper">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Options</th>
                <th scope="col">Id</th>
                <th scope="col">Product</th>
                <th scope="col">SKU</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Supplier</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Units in stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                <th score="row" class="icons">
                    <a class="glyphicon glyphicon-edit" href="{{ url_for('admin.product_update', pk=product.product_id) }}"></a>
                    <span class="delete glyphicon glyphicon-trash" data-pk="{{ product.product_id }}"></span>
                </th>
                {% for key in product.keys() %}
                    {% if key == 'unit_price' %}
                    <th scope="row">{{ product[key] | round(2) }}</th> 
                    {% else %}
                    <th scope="row">{{ product[key] }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination-wrapper">
    {{ pagination.links }}
</div>
<script src="{{ url_for('static', filename='js/delete_fetch.js') }}"></script>
{% endblock %}